# Actividad - Trabajando con DataFrames de Pandas.
## Criterios de evaluación.

* Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).
* Comentarios claros y concisos que expliquen el propósito de cada sección del código.
* Utilizar mensajes de commit **descriptivos**. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE). 
* Entrega en tiempo y forma.
* Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: pandas_df_tlp3_nombre_apellido).
* Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter
* Deben trabajar con el datasets adjunto a la actividad

### ¡Importante!
**El incumplimiento de los criterios de evaluación restará puntos en la nota final del práctico!**

In [3]:
import pandas as pd
import sqlite3

#Aqui agrega la conexión a la base de datos
conn = sqlite3.connect("Salaries.sqlite")

#Crea el dataframe con los datos del datasets
df = pd.read_sql_query("SELECT * FROM Salaries", conn)

conn.close()
df.head()

# Exporte el dataframe a un archivo CSV
df.to_csv("Salaries.csv", index=False)

1. **Top 10 empleados con mayor salario total (incluyendo beneficios)**
Extrae e imprime un top 10 de expleados con mayor salario incluyendo los beneficios

In [4]:
#todo
df['TotalPayBenefits'] = pd.to_numeric(df['TotalPayBenefits'], errors='coerce')
top_10 = df.sort_values('TotalPayBenefits', ascending=False).head(10)

print(top_10[['EmployeeName', 'TotalPayBenefits']])

                EmployeeName  TotalPayBenefits
0             NATHANIEL FORD         567595.43
1               GARY JIMENEZ         538909.28
110531           David Shinn         510732.68
110532            Amy P Hart         479652.21
110533  William J Coaker Jr.         436224.36
72925         Gregory P Suhr         425815.28
72926   Joanne M Hayes-White         422353.40
110534        Gregory P Suhr         418019.22
110535  Joanne M Hayes-White         417435.10
110536       Ellen G Moffatt         415767.94

2. **Filtrar empleados con más de 50,000 en horas extra, la columna a tratar es: (OvertimePay)**

In [6]:
#todo
df['OvertimePay'] = pd.to_numeric(df['OvertimePay'], errors='coerce')
overtime_filtro = df[df['OvertimePay'] > 50000]

print(overtime_filtro[['EmployeeName', 'JobTitle', 'OvertimePay']])

              EmployeeName                              JobTitle  OvertimePay
1             GARY JIMENEZ       CAPTAIN III (POLICE DEPARTMENT)    245131.88
2           ALBERT PARDINI       CAPTAIN III (POLICE DEPARTMENT)    106088.18
3        CHRISTOPHER CHONG  WIRE ROPE CABLE MAINTENANCE MECHANIC     56120.71
6                ALSON LEE    BATTALION CHIEF, (FIRE DEPARTMENT)     89062.90
8           MICHAEL MORRIS    BATTALION CHIEF, (FIRE DEPARTMENT)     86362.68
...                    ...                                   ...          ...
118288    Francisco A Arce                      Transit Operator     51625.42
118342    Felix Pagatpatan                      Transit Operator     52550.53
119450         Bobby Jones              Track Maintenance Worker     50265.23
119607       Hung V Nguyen             Diagnostic Imaging Tech I     74935.96
120204  Girma-Worku Zeleke               Parking Control Officer     54738.36

[2165 rows x 3 columns]

3. **Contar cuántos empleados únicos hay por año**

In [7]:
#todo
empleados_unicos_anuales = df.groupby('Year')['EmployeeName'].nunique()
print(empleados_unicos_anuales)

Year
2011    33878
2012    34349
2013    36150
2014    36684
Name: EmployeeName, dtype: int64

4. **Ver cuántos cargos únicos (JobTitle) existen y los 5 más comunes**

In [9]:
#todo
cargos_unicos = df['JobTitle'].nunique()
print(f"Total de cargos únicos: {cargos_unicos}")

cinco_cargos_mas_comunes = df['JobTitle'].value_counts().head(5)
print("Los cinco cargos más comunes son:")
print(cinco_cargos_mas_comunes)

Total de cargos únicos: 2159
Los cinco cargos más comunes son:
JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

5. **Mostrar el salario total (TotalPay) promedio por año**

In [ ]:
#todo

6. **Exporta todos los datos a un CSV y muestra los ultimos 10 valores**

In [ ]:
#todo